@page "/learnadvancerouting"
@inject NavigationManager NavigationManager
<h3>LearnAdvnaceRouting</h3>
<h4>Parameter 1: @Param1 </h4>
<h4>Parameter 2: @Param2 </h4>

<p>
    <button class="btn btn-primary" @onclick="LoadParameter">Load Parameter</button>
    <NavLink class="btn btn-outline-secondary" href="routing">
        <span aria-hidden="true"></span> Back to Routing
    </NavLink>
</p>
@code 
{
    private string Param1;
    private string Param2;

    private void LoadParameter()
    {
        var absoluteUri = new Uri(NavigationManager.Uri);
        var queryParam = System.Web.HttpUtility.ParseQueryString(absoluteUri.Query);

        Param1 = queryParam["Param1"];
        Param2 = queryParam["Param2"];
    }
}
